.item{
    display: flex;
   
    background-color: rgb(184, 94, 229);
    border-radius: 20px;
    box-shadow: 4px 3px 1px rgb(195, 189, 189);
    
    color: aliceblue;
}

.item-checkbox{
    margin-right: 15px;
    margin-left: 15px;
}